nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    align-items: center;
    z-index: 11111111;

    .nav1 {
        width: 100%;
        border-bottom: 2px solid white;

        .nav11 {
            height: 30px;
            width: 100%;
            padding: 20px 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .icon {
                display: flex;
                gap: 12px;
            }
        }

        .number {
            display: flex;
            gap: 20px;
        }
    }

    .nav2 {
        width: 100%;

        .nav21 {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 50px;
            padding: 0 20px;
            img {
                width: 218px;
                height: 30px;
            }

            .text {
                width: 70%;
                height: 100%;

                .more {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    list-style: none;
                    li{
                        transition: 0.3s ease;
                        cursor: pointer;
                        &:hover{
                            color: orange;
                        }
                    }

                    .pages {
                        position: relative;

                        .bloq {
                            position: absolute;
                            background-color: white;
                            width: 140px;
                            padding: 16px;
                            left: 0;
                            top: 30px;
                            display: flex;
                            flex-direction: column;
                            opacity: 0;
                            transition: opacity 0.5s ease;

                            a {
                                text-decoration: none;
                                color: black;
                                font-size: 12px;

                                &:hover {
                                    color: orange;
                                    transition: all 0.3s ease;
                                }
                            }
                        }
                        &:hover .bloq {
                            z-index: 1111;
                            opacity: 1;

                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    nav {
        .nav1 {
            .number {
                display: none;
            }
        }

    }
}