.sec2 {
    width: 100%;
    padding: 100px 0;
    background-color: #f9f9ff;
    ;

    .sec2a {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 100px;

        .sec2b {
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 20px;
            p {
                color: gray;
                font-weight: 300;
            }
        }

        .sec2c {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 50px;

            div {
                flex: 1 1 calc(30% - 50px);
                padding: 15px;
                background-color: white;
                transition: 0.5s ease;

                h2 {
                    font-size: 20px;
                    margin-top: 20px;
                    cursor: pointer;
                }

                p {
                    font-size: 14px;
                    color: gray;
                    margin: 20px 0;
                }

                &:hover {
                    background-color: orange;
                    box-shadow: -10px 10px 30px 0px rgba(0, 0, 0, 0.5);
                    -webkit-box-shadow: -10px 10px 30px 0px rgba(0, 0, 0, 0.5);
                    -moz-box-shadow: -10px 10px 30px 0px rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
}

@media screen and (max-width: 768px) and (min-width: 500px) {
    .sec2 {
        .sec2a {
            .sec2c {
                div {
                    flex: 1 1 calc(50% - 50px);
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .sec2 {
        .sec2a {
            .sec2c {
                div {
                    flex: 1 1 calc(100% - 50px);
                }
            }
        }
    }
}