* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
}

h1 {
  font-size: 45px;
}

p {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 32px;
  width: 100%;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  align-items: center;
  z-index: 11111111;
}
nav .nav1 {
  width: 100%;
  border-bottom: 2px solid white;
}
nav .nav1 .nav11 {
  height: 30px;
  width: 100%;
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav1 .nav11 .icon {
  display: flex;
  gap: 12px;
}
nav .nav1 .number {
  display: flex;
  gap: 20px;
}
nav .nav2 {
  width: 100%;
}
nav .nav2 .nav21 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0 20px;
}
nav .nav2 .nav21 img {
  width: 218px;
  height: 30px;
}
nav .nav2 .nav21 .text {
  width: 70%;
  height: 100%;
}
nav .nav2 .nav21 .text .more {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
nav .nav2 .nav21 .text .more li {
  transition: 0.3s ease;
  cursor: pointer;
}
nav .nav2 .nav21 .text .more li:hover {
  color: orange;
}
nav .nav2 .nav21 .text .more .pages {
  position: relative;
}
nav .nav2 .nav21 .text .more .pages .bloq {
  position: absolute;
  background-color: white;
  width: 140px;
  padding: 16px;
  left: 0;
  top: 30px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease;
}
nav .nav2 .nav21 .text .more .pages .bloq a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}
nav .nav2 .nav21 .text .more .pages .bloq a:hover {
  color: orange;
  transition: all 0.3s ease;
}
nav .nav2 .nav21 .text .more .pages:hover .bloq {
  z-index: 1111;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  nav .nav1 .number {
    display: none;
  }
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://preview.colorlib.com/theme/security/img/header-bg.jpg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-top: 100px;
}
header .headdiv {
  width: 100%;
  padding: 150px 0;
  display: flex;
  align-items: center;
}
header .headdiv .tex {
  width: 70%;
  height: 400px;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
}
header .headdiv .tex .btn {
  width: 30%;
  background-color: #fab700;
  line-height: 42px;
  padding-left: 40px;
  padding-right: 40px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  border: 1px solid transparent;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
}

@media screen and (max-width: 768px) {
  header .tex h1,
  header .tex p {
    width: 100%;
  }
  header .tex a {
    width: 40%;
  }
}
.sec1 {
  width: 100%;
}
.sec1 .sec1con {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-top: 100px;
}
.sec1 .sec1con .text1 {
  text-align: center;
}
.sec1 .sec1con .uclu {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  gap: 30px;
}
.sec1 .sec1con .uclu .sec11 {
  padding: 25px;
  border-radius: 2px solid black;
  display: flex;
  gap: 20px;
  flex-direction: column;
  flex: 1 1 calc(30% - 30px);
}
.sec1 .sec1con .uclu .sec11:hover {
  background-color: orange;
  box-shadow: -10px 10px 30px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -10px 10px 30px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -10px 10px 30px 0px rgba(0, 0, 0, 0.5);
}
.sec1 .sec1con .uclu .sec11 span {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.sec1 .sec1con .uclu .sec11 img {
  width: 100%;
  height: auto;
}
.sec1 .sec1con .uclu .sec11 a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .sec1 .text1 .uclu .sec11 {
    flex: 1 1 calc(100% - 30px);
  }
}
.sec2 {
  width: 100%;
  padding: 100px 0;
  background-color: #f9f9ff;
}
.sec2 .sec2a {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.sec2 .sec2a .sec2b {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sec2 .sec2a .sec2b p {
  color: gray;
  font-weight: 300;
}
.sec2 .sec2a .sec2c {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.sec2 .sec2a .sec2c div {
  flex: 1 1 calc(30% - 50px);
  padding: 15px;
  background-color: white;
  transition: 0.5s ease;
}
.sec2 .sec2a .sec2c div h2 {
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}
.sec2 .sec2a .sec2c div p {
  font-size: 14px;
  color: gray;
  margin: 20px 0;
}
.sec2 .sec2a .sec2c div:hover {
  background-color: orange;
  box-shadow: -10px 10px 30px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -10px 10px 30px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -10px 10px 30px 0px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) and (min-width: 500px) {
  .sec2 .sec2a .sec2c div {
    flex: 1 1 calc(50% - 50px);
  }
}
@media screen and (max-width: 500px) {
  .sec2 .sec2a .sec2c div {
    flex: 1 1 calc(100% - 50px);
  }
}
.sec3 {
  width: 100%;
  background-color: #f9f9ff;
  padding: 100px 0;
}
.sec3 .sec3a {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.sec3 .sec3a .sec3b {
  text-align: center;
}
.sec3 .sec3a .sec3b p {
  color: gray;
  margin-top: 50px;
}
.sec3 .sec3a .sec3c {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.sec3 .sec3a .sec3c div {
  flex: 1 1 calc(25% - 50px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.sec3 .sec3a .sec3c div .hedd {
  width: 100%;
  overflow: hidden;
}
.sec3 .sec3a .sec3c div .hedd img {
  transition: 0.5s ease;
  width: 100%;
  height: auto;
}
.sec3 .sec3a .sec3c div h4 {
  cursor: pointer;
  transition: 0.5s ease;
}
.sec3 .sec3a .sec3c div span {
  width: 50%;
  text-align: center;
  padding: 10px;
  background-color: black;
  color: white;
}
.sec3 .sec3a .sec3c div p {
  color: gray;
}
.sec3 .sec3a .sec3c div main {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.sec3 .sec3a .sec3c div main h5 {
  font-weight: 400;
  color: gray;
}
.sec3 .sec3a .sec3c div:hover .hadd img {
  transform: scale(1.1);
}
.sec3 .sec3a .sec3c div:hover h4 {
  color: orange;
}

@media screen and (max-width: 768px) and (min-width: 500px) {
  .sec3 .sec3a .sec3c div {
    flex: 1 1 calc(50% - 50px);
  }
}
@media screen and (max-width: 500px) {
  .sec3 .sec3a .sec3c div {
    flex: 1 1 calc(100% - 50px);
  }
}
footer {
  width: 100%;
  padding: 100px 0;
  background-color: #04091e;
  color: white;
}
footer p {
  color: gray;
  font-size: 14px;
}
footer .footcon {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
footer .footcon .bass {
  padding-left: 200px;
}
footer .footcon div {
  flex: 1 1 calc(30% - 30px);
}
footer .footcon div span {
  width: 100%;
  height: 40px;
  display: flex;
}
footer .footcon div span input {
  width: calc(100% - 40px);
  padding: 5px;
}
footer .footcon div span i {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: orange;
  cursor: pointer;
}
footer .footcon div ul i {
  margin-left: 10px;
  cursor: pointer;
}
footer .footcon div ul i:hover {
  color: orange;
}

@media screen and (max-width: 936px) {
  footer .footcon div {
    flex: 1 1 calc(50% - 30px);
  }
  footer .footcon .bass {
    margin-top: 50px;
    padding-left: 0;
  }
}/*# sourceMappingURL=index.css.map */