* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    position: relative;
}
h1{
    font-size: 45px;
    
}
p{
    text-transform: uppercase;
    letter-spacing: 2px;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 32px;
    width: 100%;
}

@import "nav";
@import "header";
@import "sec1";
@import "sec2";
@import "sec3";
@import "footer";
